{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Amazon</title>

    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>

<body>

    <header>

        <!-- Amazon Logo -->
        <div class="logo">
            <img src="{% static 'images/amazon_logo.png' %}" alt="Amazon">
        </div>

        <!-- Location -->
        <div class="loc">

            <div class="loc-icon">
                <i class="fa-solid fa-location-dot"></i>
            </div>

            <div class="loc-text">
                <p id="loc-1">Deliver to Mannat</p>
                <p id="loc-2"><strong>Sonipat 131021</strong></p>
            </div>

        </div>


        <!-- Search Bar -->
        <div class="search-bar">

            <select>
                <option>All</option>
                <option>Books</option>
                <option>Electronics</option>
                <option>Fashion</option>
                <option>Grocery</option>
            </select>

            <input type="text" placeholder="Search Amazon.in">

            <div class="magnifying-glass">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>

        </div>

        <!-- Language -->
        <div class="language">
            <span>🇮🇳</span>
            <p>EN</p>
            <i class="fa-solid fa-caret-down"></i>
        </div>

        <!-- Account -->
        <div class="account">
            <p>Hello, Mannat</p>
            <h3>Account & Lists
                <i class="fa-solid fa-caret-down"></i>
            </h3>
        </div>

        <!-- Returns and Orders -->
        <div class="returns">
            <p>Returns</p>
            <h3>& Orders</h3>
        </div>

        <!-- Cart -->
        <div class="cart">
            <i class="fa-solid fa-cart-shopping"></i>
            <h3>Cart</h3>
        </div>

        
    </header>

    <div class="sidebar-hamburger" onclick="showSidebar()">
            <i class="fa-solid fa-bars"></i>
            <p>All</p>
    </div>

    {% comment %} <div class = "overlay">
        
    </div> {% endcomment %}
</body>

</html>